{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

<style>
  .custom-article-card .card__heading, 
  .custom-article-card .article-card__info {
    text-align: left;
  }
  .custom-article-card .card__heading {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
    margin-bottom: 0;
  }
  .custom-article-card .caption-with-letter-spacing {
    font-size: 1.4rem;
    padding-top: 0;
    margin-bottom: .8rem;
  }
  .custom-article-card .article-tags {

  }
  .custom-article-card .circle-divider {
    margin-right: 1.2rem;
  }
  .custom-article-card .circle-divider::after {
  content: none;
  }
  .custom-article-card .article-card .card__information {
    padding:1rem;
  }

  @media screen and (max-width: 749px) {
    .custom-article-card .card__heading {
      font-size: calc(var(--font-heading-scale) * 1.4rem);
      margin-bottom: 0;
    }
    .custom-article-card .caption-with-letter-spacing {
      font-size: 1.2rem;
    }
  }
</style>

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != null
      assign ratio = media_aspect_ratio
    endif
  -%}
  <div class="custom-article-card article-card-wrapper card-wrapper">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div
      class="
        card article-card
        card--{{ settings.blog_card_style }}
        {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
        {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
        {% if settings.blog_card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}{% if article.image and show_image or settings.blog_card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: 56.25%;"
      >
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div
              class="article-card__image media media--hover-effect"
              {% if section.settings.media_height == 'adapt' %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading{% if show_excerpt %} h2{% endif %}">
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h3>
            <div class="article-card__info caption-with-letter-spacing h5">
              {%- if show_date -%}
                <span class="circle-divider">{{ article.updated_at | time_tag: format: 'date' }}</span>
              {%- endif -%}
              {%- if show_author -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
            </div>
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="article-card__excerpt rte-width">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
              <div class="article-card__footer">
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div class="card__badge {{ settings.badge_position }}">
              <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <div class="article-card__info caption-with-letter-spacing h5">
            {%- if show_date -%}
              <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 1px;" height="1.4rem" viewBox="0 0 448 512"><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/></svg>
              <span class="circle-divider">{{ article.updated_at | time_tag: format: 'date' }}</span><br>
            {%- endif -%}
  
          
  
            <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 1px;" height="1.4rem" viewBox="0 0 448 512"><path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
              {% for tag in article.tags %}
              {% if tag == "personal" or tag == "fitness" or tag == "nutrition" or tag == "training"  %}
                  <span class="article-tags">
                {{ tag 
                | replace: "personal", "パーソナル"  
                | replace: "fitness", "フィットネス"  
                | replace: "nutrition", "ニュートリション" 
                | replace: "training", "トレーニング" 
                }}
                </span>
                {% endif %}
              {% endfor %}
            
            {%- if show_author -%}
              <span>{{ article.author }}</span>
            {%- endif -%}
          </div>
            <h3 class="card__heading{% if show_excerpt %} h2{% endif %}">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | truncate: 50 | escape }}
            </a>
          </h3>
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 and excerpt_length != 0  -%}
              <p class="article-card__excerpt rte-width">
              {% if excerpt_length > 0 %}
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | slice: 0, excerpt_length }}
                {%- else -%}
                  {{ article.content | strip_html | slice: 0, excerpt_length }}
                {%- endif -%}
                {% endif %}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
