<style>
          .article-author-container {
            background: #f7f7f7;
            margin-bottom: 3rem;
            padding: 2rem;
          }
          .author-detail-btn-wrapper {
            text-align: center;
          }
          .author-detail-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #0A1E27;
            color: #fff;
            width: 145px;
            height: 45px;
            text-decoration: none;
          }
          .article-author-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            column-gap: 3.5rem;
          }
          .author-image-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-basis:20%;
          }
          .author-name {
            font-weight:bold;
          }
          .author-image {
            width:100%;
            height:auto;
          }
          .author-text-wrapper {
            display: flex;
            flex-basis:80%;
          }
          .author-text-wraper ul {
            font-size: 1.5rem;
            padding-left: 0;
            margin: 0;
          }
          @media screen and (max-width: 600px) {
            .article-author-wrapper {
              flex-direction: column;
              flex-wrap: wrap;
            }
          .author-image {
            width:130px;
          }
          .author-text-wrapper ul {
            padding-left: 2rem;
          }
          }
  .article-author a {
    text-decoration: unset;
  }
        </style>

<div class="article-author">
          <h3>{{ author_title }}</h3>
        <div class="article-author-container">
          <div class="article-author-wrapper">
            <div class="author-image-wrapper">
              <img class="author-image" 
                src="{{ author_img  | img_url: '320x'  }}" 
                loading="lazy"
                alt="{{ author_img.alt | escape }}"
                width="165"
                height="165">
              <p class="author-name" style="margin-bottom: 0;"> {{ author_name }}</p>
              <div class="sns-links">
                 {% if author_web != blank %}
                   <a href="{{ author_web }}" target="_blank">
                   <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M51.7 295.1l31.7 6.3c7.9 1.6 16-.9 21.7-6.6l15.4-15.4c11.6-11.6 31.1-8.4 38.4 6.2l9.3 18.5c4.8 9.6 14.6 15.7 25.4 15.7c15.2 0 26.1-14.6 21.7-29.2l-6-19.9c-4.6-15.4 6.9-30.9 23-30.9h2.3c13.4 0 25.9-6.7 33.3-17.8l10.7-16.1c5.6-8.5 5.3-19.6-.8-27.7l-16.1-21.5c-10.3-13.7-3.3-33.5 13.4-37.7l17-4.3c7.5-1.9 13.6-7.2 16.5-14.4l16.4-40.9C303.4 52.1 280.2 48 256 48C141.1 48 48 141.1 48 256c0 13.4 1.3 26.5 3.7 39.1zm407.7 4.6c-3-.3-6-.1-9 .8l-15.8 4.4c-6.7 1.9-13.8-.9-17.5-6.7l-2-3.1c-6-9.4-16.4-15.1-27.6-15.1s-21.6 5.7-27.6 15.1l-6.1 9.5c-1.4 2.2-3.4 4.1-5.7 5.3L312 330.1c-18.1 10.1-25.5 32.4-17 51.3l5.5 12.4c8.6 19.2 30.7 28.5 50.5 21.1l2.6-1c10-3.7 21.3-2.2 29.9 4.1l1.5 1.1c37.2-29.5 64.1-71.4 74.4-119.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm144.5 92.1c-2.1 8.6 3.1 17.3 11.6 19.4l32 8c8.6 2.1 17.3-3.1 19.4-11.6s-3.1-17.3-11.6-19.4l-32-8c-8.6-2.1-17.3 3.1-19.4 11.6zm92-20c-2.1 8.6 3.1 17.3 11.6 19.4s17.3-3.1 19.4-11.6l8-32c2.1-8.6-3.1-17.3-11.6-19.4s-17.3 3.1-19.4 11.6l-8 32zM343.2 113.7c-7.9-4-17.5-.7-21.5 7.2l-16 32c-4 7.9-.7 17.5 7.2 21.5s17.5 .7 21.5-7.2l16-32c4-7.9 .7-17.5-7.2-21.5z"/></svg>
                 </a>
                   {% endif %}
                 {% if author_instagram != blank %}<a href="{{ author_instagram }}" target="_blank">
                   <svg aria-hidden="true" focusable="false" class="icon icon-instagram" viewBox="0 0 18 18" height="1em">
                     <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
                       <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
                       </svg>
                 </a
                   >{% endif %}
                 {% if author_youtube != blank %}
                   <a href="{{ author_youtube }}" target="_blank">
                   <svg aria-hidden="true" focusable="false" class="icon icon-youtube" viewBox="0 0 100 70" height="1em"><path d="M98 11c2 7.7 2 24 2 24s0 16.3-2 24a12.5 12.5 0 01-9 9c-7.7 2-39 2-39 2s-31.3 0-39-2a12.5 12.5 0 01-9-9c-2-7.7-2-24-2-24s0-16.3 2-24c1.2-4.4 4.6-7.8 9-9 7.7-2 39-2 39-2s31.3 0 39 2c4.4 1.2 7.8 4.6 9 9zM40 50l26-15-26-15v30z" fill="currentColor"> </svg>
                   </a>
                   {% endif %}                  
              </div>
            </div>
            <div class="author-text-wrapper">
              {{ author_text }}
            </div>
          </div>
      {% if author_link != blank %}
          <div class="author-detail-btn-wrapper">
            <a class="author-detail-btn" href="{{ author_link }}">詳しくはこちら</a>
          </div>
        {% endif %}
        </div>
</div>