{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'article-custom.css' | asset_url | stylesheet_tag }}

{% style %}
  .page-width-article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .article-template header {
    margin-top: 2rem;
  }
  .circle-divider:after {
    content: none;
  }
  article {
    padding: 3rem 0;
  }
  .Custom-main-article .article-tags {
    font-size: 1rem;
  }
  .Custom-main-article .article-template__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #0a1e27;
    color: #fff;
    width: 145px;
    height: 45px;
  }
  aside.menu {
    padding-bottom: 5rem;
  }
  aside.menu ul {
    list-style: none;
    padding-left: 0;
  }
  aside.menu ul li a {
    position: relative;
    text-decoration: none;
  }
  aside.menu ul li a:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  @media screen and (min-width: 1000px) {
    .Custom-main-article {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      display: flex;
      column-gap: 3rem;
      max-width: 126rem;
      margin: 0 auto;
    }
    article {
      margin-bottom: 2rem;
    }
    .article_section_left {
      flex: 1;
      overflow: hidden;
    }
    aside.menu {
      flex: 0 0 40rem;
    }
  }

  .article_top_banner {
    width: 98%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    position: relative;
  }
  .article_top_banner img {
    width: 100%;
    height: auto;
  }
  .article_top_banner_label {
    position: absolute;
    top: -3px;
    right: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 25px;
    font-size: 1.2rem;
    line-height: 1;
    color: #fff;
    background-color: #b5bd73;
  }
  .article_top_banner_label:after {
    position: absolute;
    top: 25px;
    left: 0;
    width: 0px;
    height: 0px;
    border-width: 0 17.5px 5px;
    border-style: solid;
    content: '';
    border-color: transparent #b5bd73;
  }

  @media (min-width: 1000px) {
    .for-sp {
      display: none;
    }
  }
  #sp-fixed-menu {
    position: fixed;
    width: 12rem;
    transform: translateY(-20%);
    bottom: 6rem;
    right: 0;
    font-size: 0;
    z-index: 99;
  }
  /*メニューを横並びにする*/
  #sp-fixed-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    justify-content: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
  }
  #sp-fixed-menu li {
    justify-content: center;
    align-items: center;
    padding: 10px 5px 8px 5px;
    margin: 0;
    font-size: 12px;
    display: inline-flex;
    flex-direction: column;
  }
  /*ボタンを調整*/
  #sp-fixed-menu li a {
    color: #0a1e27;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
    text-decoration: unset;
  }
{% endstyle %}

<div class="Custom-main-article">
  <div class="article_section_left">
    {% if section.settings.article_top_banner_img != blank and article.metafields.custom.banner == true %}
      <div class="article_top_banner">
        <a href="{{ section.settings. article_top_banner_url }}" target="_blank">
          <img
            src="{{ section.settings. article_top_banner_img | img_url: '1200x' }}"
            width="{{ section.settings. article_top_banner_img.width }}"
            height="{{ section.settings. article_top_banner_img.height }}"
          >
        </a>
        {% if section.settings.banner_label != false -%}
          <span class="article_top_banner_label">NEW</span>
        {%- endif %}
      </div>
    {% endif %}
    {% render 'Custom-breadcrumb' %}
    <article class="article-template">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="page-width-widefull page-width--narrow">
              {% render block %}
            </div>
          {%- when 'date-and-tags' -%}
            {% render 'Custom-article-date-and-tags',
              blog_show_date: block.settings.blog_show_date,
              pr_text: section.settings.pr_text
            %}
          {%- when 'featured_image' -%}
            {%- if article.image -%}
              <div
                class="page-width-widefull {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                {{ block.shopify_attributes }}
              >
                <div
                  class="article-template__hero-{{ block.settings.image_height }} media"
                  itemprop="image"
                  {% if block.settings.image_height == 'adapt' and article.image %}
                    style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                  {% endif %}
                >
                  <img
                    srcset="
                      {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                      {{ article.image | image_url }} {{ article.image.width }}w
                    "
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                    src="{{ article.image | image_url: width: 1100 }}"
                    loading="eager"
                    fetchpriority="high"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}"
                  >
                </div>
              </div>
            {%- endif -%}

          {%- when 'title' -%}
            <header
              class="page-width-article {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              {{ block.shopify_attributes }}
            >
              <h1
                class="h2 article-template__title"
                itemprop="headline"
              >
                {{ article.title | escape }}
              </h1>

              {%- if block.settings.blog_show_author -%}
                <span
                  class="caption-with-letter-spacing"
                  itemprop="author"
                  itemscope
                  itemtype="http://schema.org/Person"
                >
                  <span itemprop="name">{{ article.author }}</span>
                </span>
              {%- endif -%}
            </header>

          {%- when 'content' -%}
            <div
              class="article-template__content rte page-width-article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              itemprop="articleBody"
              {{ block.shopify_attributes }}
            >
              {% assign divider = '[DIVIDER]' %}
              {% assign dividerClose = '[/DIVIDER]' %}
              {% assign text = article.content | split: divider %}
              {{ text[0] }}
              {% for divider in text offset: 1 %}
                {% assign x = forloop.index %}
                {% assign newtext = text[x] | split: dividerClose %}
                {% assign targetHandle = newtext[0] %}
                {% assign articleHandle = 'all/' | append: targetHandle %}
                {% for article in blogs.all.articles %}
                  {% if article.handle == articleHandle %}
                    <div class="article_link_card article-{{ article.id }}">
                      <a href="{{ article.url }}" class="article_link_card_link" title="{{ article.title }}"></a>
                      <div class="article_link_card_img_container">
                        <img
                          src="{{ article.image.src | img_url: 'large' }}"
                          loading="lazy"
                          alt="{{ article.image.alt | escape }}"
                          width="242"
                          height="137"
                          class="article_link_card_img"
                        >
                      </div>
                      <div class="article_link_card_text_container">
                        <p class="article_link_card_date">{{ article.updated_at | time_tag: format: 'date' }}</p>
                        <p class="article_link_card_title">{{ article.title }}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                {% if targetHandle == 'ad' %}
                  <script
                    crossorigin="anonymous"
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8070459482460907"
                    async=""
                  ></script>
                  <ins
                    class="adsbygoogle adsense_article"
                    style="display: block; text-align: center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-8070459482460907"
                    data-ad-slot="9981210144"
                    data-full-width-responsive="false"
                  >
                  </ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                {% endif %}
                {{ newtext[1] }}
              {% endfor %}
            </div>

          {%- when 'content_policy' -%}
            {% render 'Custom-content-policy', content_policy_text: block.settings.content_policy_text %}
          {%- when 'author1' -%}
            {% render 'Custom-article-author',
              author1: true,
              author_title: block.settings.author_title,
              author_img: block.settings.author_img,
              author_name: block.settings.author_name,
              author_text: block.settings.author_text,
              author_link: block.settings.author_link,
              author_link: block.settings.author_link,
              author_instagram: block.settings.author_instagram,
              author_youtube: block.settings.author_youtube,
              author_web: block.settings.author_web
            %}
          {%- when 'author2' -%}
            {% if article.metafields.custom.author != blank %}
              {% assign author_metaobject = article.metafields.custom.author.value %}
              {% render 'Custom-article-author',
                author2: true,
                author_title2: author_metaobject.title.value,
                author_img2: author_metaobject.image.value,
                author_name2: author_metaobject.name.value,
                author_text2: author_metaobject.text.value,
                author_link2: author_metaobject.detail_link.value,
                author_web2: author_metaobject.web_link.value,
                author_instagram2: author_metaobject.instagram.value,
                author_youtube2: author_metaobject.youtube.value
              %}
            {% endif %}
          {%- when 'prev_next_btn' -%}
            {% render 'Custom-article-prev-next' %}
        {%- endcase -%}
      {%- endfor -%}

      {%- if blog.comments_enabled? -%}
        <div class="article-template__comment-wrapper background-secondary">
          <div
            id="comments"
            class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          >
            {%- if article.comments_count > 0 -%}
              {%- assign anchorId = '#Comments-' | append: article.id -%}

              <h2 id="Comments-{{ article.id }}" tabindex="-1">
                {{ 'blogs.article.comments' | t: count: article.comments_count }}
              </h2>
              {% paginate article.comments by 5 %}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                      </footer>
                    </article>
                  {%- endif -%}

                  {%- for comment in article.comments -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                        ><span class="caption-with-letter-spacing">
                          {{- comment.created_at | time_tag: format: 'date' -}}
                        </span>
                      </footer>
                    </article>
                  {%- endfor -%}
                  {% render 'pagination', paginate: paginate, anchor: anchorId %}
                </div>
              {% endpaginate %}
            {%- endif -%}
            {% form 'new_comment', article %}
              {%- liquid
                assign post_message = 'blogs.article.success'
                if blog.moderated? and comment.status == 'unapproved'
                  assign post_message = 'blogs.article.success_moderated'
                endif
              -%}
              <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
              {%- if form.errors -%}
                <div class="form__message" role="alert">
                  <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h3>
                </div>
                <ul class="form-status-list caption-large">
                  {%- for field in form.errors -%}
                    <li>
                      <a href="#CommentForm-{{ field }}" class="link">
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                          {{ 'blogs.article.name' | t }}
                        {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                          {{ 'blogs.article.message' | t }}
                        {%- else -%}
                          {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- elsif form.posted_successfully? -%}
                <div class="form-status-list form__message" role="status">
                  <h3 class="form-status" tabindex="-1" autofocus>
                    {% render 'icon-success' %}
                    {{ post_message | t }}
                  </h3>
                </div>
              {%- endif -%}

              <div
                {% if blog.moderated? == false %}
                  class="article-template__comments-fields"
                {% endif %}
              >
                <div class="article-template__comment-fields">
                  <div class="field field--with-error">
                    <input
                      type="text"
                      name="comment[author]"
                      id="CommentForm-author"
                      class="field__input"
                      autocomplete="name"
                      value="{{ form.author }}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.name' | t }}"
                    >
                    <label class="field__label" for="CommentForm-author">
                      {{- 'blogs.article.name' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'author' -%}
                      <small id="CommentForm-author-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.name' | t }}
                          {{ form.errors.messages.author }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                  <div class="field field--with-error">
                    <input
                      type="email"
                      name="comment[email]"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="field__input"
                      value="{{ form.email }}"
                      autocorrect="off"
                      autocapitalize="off"
                      aria-required="true"
                      required
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-email-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.email' | t }}"
                    >
                    <label class="field__label" for="CommentForm-email">
                      {{- 'blogs.article.email' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'email' -%}
                      <small id="CommentForm-email-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.email' | t }}
                          {{ form.errors.messages.email }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field field--with-error">
                  <textarea
                    rows="5"
                    name="comment[body]"
                    id="CommentForm-body"
                    class="text-area field__input"
                    aria-required="true"
                    required
                    {% if form.errors contains 'body' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-body-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.message' | t }}"
                  >{{ form.body }}</textarea>
                  <label class="form__label field__label" for="CommentForm-body">
                    {{- 'blogs.article.message' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                </div>
                {%- if form.errors contains 'body' -%}
                  <small id="CommentForm-body-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.message' | t }}
                      {{ form.errors.messages.body }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              {%- if blog.moderated? -%}
                <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
              {%- endif -%}
              <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
            {% endform %}
          </div>
        </div>
      {%- endif -%}
    </article>
  </div>

  <aside class="menu page-width-article">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'category' -%}
          {% render 'Custom-article-category', menu: block.settings.menu %}
        {%- when 'tags' -%}
          {% render 'Custom-article-tags' %}
        {%- when 'table-of-contents' -%}
          {% render 'Custom-table-of-contents' %}
      {%- endcase -%}
    {%- endfor -%}
  </aside>
</div>

<div id="sp-fixed-menu" class="for-sp">
  <ul>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512">
        <style>svg{fill:#0a1e27}</style><path d="M24 56c0-13.3 10.7-24 24-24H80c13.3 0 24 10.7 24 24V176h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H40c-13.3 0-24-10.7-24-24s10.7-24 24-24H56V80H48C34.7 80 24 69.3 24 56zM86.7 341.2c-6.5-7.4-18.3-6.9-24 1.2L51.5 357.9c-7.7 10.8-22.7 13.3-33.5 5.6s-13.3-22.7-5.6-33.5l11.1-15.6c23.7-33.2 72.3-35.6 99.2-4.9c21.3 24.4 20.8 60.9-1.1 84.7L86.8 432H120c13.3 0 24 10.7 24 24s-10.7 24-24 24H32c-9.5 0-18.2-5.6-22-14.4s-2.1-18.9 4.3-25.9l72-78c5.3-5.8 5.4-14.6 .3-20.5zM224 64H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 160H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32s14.3-32 32-32zm0 160H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
      </svg>
      <a id="table-of-contents-btn">記事の目次</a>
    </li>
  </ul>
</div>

<script>
  // すべてのimg要素とvideo要素を取得
  const mediaElements = document.querySelectorAll('img, video');
  const beforeImgUrlPath = 'https://cdn.shopify.com/s/files/1/0604/3956/0376';
  const beforeVideoUrlPath = 'https://cdn.shopify.com';
  const AfterUrlPath = 'https://fitonline.co.jp/cdn/shop';

  // それぞれの要素に対して処理
  mediaElements.forEach((element) => {
    // imgタグの場合
    if (element.tagName.toLowerCase() === 'img' && element.src.includes(beforeImgUrlPath)) {
      element.src = element.src.replace(beforeImgUrlPath, AfterUrlPath);
    }
    // videoタグの場合
    else if (element.tagName.toLowerCase() === 'video' && element.src.includes(beforeVideoUrlPath)) {
      element.src = element.src.replace(beforeVideoUrlPath, AfterUrlPath);
    }
  });
</script>

{% if article.excerpt != blank %}
  {{ article.excerpt }}
{% endif %}

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
  "@type": "WebPage",
  "@id": {{ request.origin | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  "description": {{ page_description | json }},
  {% if article.metafields.custom.rating %}
  "reviewRating": {
  "@type": "Rating",
  "ratingValue": "4"
  },
    {% endif %}
    {% if article.image %}
      "image": [
      {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
      {% endif %}
      "datePublished": {{ article.updated_at | date: '%Y-%m-%dT%H:%M:%S+09:00' | json }},
      "dateModified": {{ article.updated_at | date: '%Y-%m-%dT%H:%M:%S+09:00' | json }},
  "author": {
  "@type": "Person",
  "name": "フィット",
  "url": "https://fitonline.co.jp/pages/writer-and-supervisor"
  },
  "publisher": {
  "@type": "Organization",
  "name": {{ shop.name | json }}
  }
  }
</script>

{% schema %}
{
  "name": "カスタムブログ記事",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "pr_text",
      "label": "PRテキスト"
    },
    {
      "type": "header",
      "content": "バナー設定"
    },
    {
      "type": "url",
      "id": "article_top_banner_url",
      "label": "バナーURL"
    },
    {
      "type": "image_picker",
      "id": "article_top_banner_img",
      "label": "バナー画像"
    },
    {
      "type": "checkbox",
      "id": "banner_label",
      "default": true,
      "label": "バナーラベル表示"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "date-and-tags",
      "name": "日付とタグ",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "content_policy",
      "name": "コンテンツポリシーアナウンス",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content_policy_text",
          "label": "タイトル"
        }
      ]
    },
    {
      "type": "author1",
      "name": "筆者・監修者1",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "author_title",
          "label": "タイトル"
        },
        {
          "type": "image_picker",
          "id": "author_img",
          "label": "筆者のアイコン"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "筆者の名前"
        },
        {
          "type": "textarea",
          "id": "author_text",
          "label": "説明"
        },
        {
          "type": "url",
          "id": "author_link",
          "label": "詳細リンク"
        },
        {
          "type": "url",
          "id": "author_web",
          "label": "HPリンク"
        },
        {
          "type": "url",
          "id": "author_instagram",
          "label": "instagramリンク"
        },
        {
          "type": "url",
          "id": "author_youtube",
          "label": "YouTubeリンク"
        }
      ]
    },
    {
      "type": "author2",
      "name": "筆者・監修者2",
      "limit": 1
    },
    {
      "type": "prev_next_btn",
      "name": "前へ次へボタン",
      "limit": 1
    },
    {
      "type": "table-of-contents",
      "name": "目次",
      "limit": 1
    },
    {
      "type": "category",
      "name": "サイドバー記事カテゴリー",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "カテゴリーメニュー"
        }
      ]
    },
    {
      "type": "tags",
      "name": "サイドバータグ",
      "limit": 1
    }
  ]
}
{% endschema %}
