{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .Custom-main-blog .blog-articles {
    border-top: 1px solid rgb(10 30 39);
    border-bottom: 1px solid rgb(10 30 39);
    gap:0;
    grid-template-columns: repeat(4, 1fr);
  }
  .card:not(.ratio) {
    border: 1px solid rgb(10 30 39);
  }
  .Custom-main-blog .grid__item {
    width: 25%;
    max-width: 25%;
  }
  .Custom-main-blog .card__content {
    align-items: start;
  }
  .Custom-main-blog .blog__title {
    margin: 0 auto;
  }
  .Custom-main-blog .title-wrapper-with-link {
    margin: 0 0 2rem 0;
  }
  .Custom-main-blog .blog__button {
    margin-top: 2rem;
  }
  .Custom-main-blog .blog__button {
    background: #ffd266;
    color: #316c82;
    font-weight:bold;
  }
  .Custom-main-blog .pagination__item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #0A1E27;
    color: #0A1E27;
    border-radius: 3%;
  }
  .Custom-main-blog .pagination__item--current {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0 0 0 / 15%);
    color: #fff;
    background: #0A1E27;
    opacity: unset;
  }
  .Custom-main-blog .pagination__item-arrow {
    border: unset;
    color: #0A1E27;
    background: unset;
    opacity: unset;
  }
  .Custom-main-blog .pagination-wrapper {
    margin-top:2.4rem;
  }
  .Custom-main-blog .pagination__item--current:after, .Custom-main-blog .pagination__item:hover:after {
    content: none;
  }
  @media screen and (max-width: 749px) {
    .Custom-main-blog .blog-articles {
    grid-template-columns: repeat(2, 1fr);
  }
  }
{%- endstyle -%}

{%- paginate blog.articles by section.settings.article_number -%}
  <div class="Custom-main-blog main-blog page-width-widefull section-{{ section.id }}-padding">
    {% if current_tags %}
      <h1 class="h2 h2-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{
          current_tags.first
          | replace: 'personal', 'パーソナル'
          | replace: 'fitness', 'フィットネス'
          | replace: 'nutrition', 'ニュートリション'
          | replace: 'training', 'トレーニング'
          | replace: 'goldgym', 'ゴールドジム'
          | replace: '-federations', '団体'
          | replace: 'physique', 'フィジーク'
          | replace: '-accessories', 'グッズ'
          | replace: '-apparel', 'アパレル'
          | replace: '-influencer', 'インフルエンサー'
          | replace: 'protein', 'プロテイン'
          | replace: 'gym', 'ジム'
          | replace: 'tools-and-calculators', 'ツールと計算'
        }}
        <p class="title-en">
          {{current_tags.first 
            | replace: '-', ' '
            | capitalize
          }}
        </p>
      </h1>
    {% else %}
      <h1 class="h2 h2-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ blog.title | escape }}
        <p class="title-en">Articles</p>
      </h1>
    {% endif %}
    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- render 'Custom-article-card',
            article: article,
            media_aspect_ratio: 1.66,
            show_image: section.settings.show_image,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true,
            excerpt_length: section.settings.excerpt_length
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "range",
      "id": "excerpt_length",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "文字",
      "label": "引用文字数",
      "default": 4
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "article_number",
      "min": 2,
      "max": 20,
      "step": 2,
      "unit": "記事",
      "label": "表示記事数",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
